<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weedipedia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
				<key>dateExpires</key>
				<string>4/13/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
						<key>dateExpires</key>
						<string>4/13/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N7F7EYAS2S</string>
						<key>name</key>
						<string>Eugen Rata</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
						<key>dateExpires</key>
						<string>4/13/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N7F7EYAS2S</string>
						<key>name</key>
						<string>Eugen Rata</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
						<key>dateExpires</key>
						<string>4/13/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N7F7EYAS2S</string>
						<key>name</key>
						<string>Eugen Rata</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
						<key>dateExpires</key>
						<string>4/13/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N7F7EYAS2S</string>
						<key>name</key>
						<string>Eugen Rata</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1FDFDAA6F06A2EFF4A82570854E2986D57F065C9</string>
						<key>dateExpires</key>
						<string>4/13/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N7F7EYAS2S</string>
						<key>name</key>
						<string>Eugen Rata</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N7F7EYAS2S.com.weedipedia.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N7F7EYAS2S</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>N7F7EYAS2S.com.weedipedia.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>855c9f8f-52f2-4eb0-97e8-3422cddc2cff</string>
				<key>dateExpires</key>
				<string>12/13/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N7F7EYAS2S</string>
				<key>name</key>
				<string>Eugen Rata</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.3</string>
		</dict>
	</array>
</dict>
</plist>
